# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference
---
version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    commit-message:
      prefix: "Prod"
      prefix-development: "Dev"
    directory: "/"
    schedule:
      interval: "weekly"
    versioning-strategy: "increase"
    groups:
      npm-in-range:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
