---
name: "Node.js CI"

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  check:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-node@v6"
        with:
          cache: "npm"
          node-version: "24"
      - run: "npm ci"
      - run: "npm run lint"
      - run: "npm run test:cover"
      - run: "npm run build"
      - uses: "actions/upload-artifact@v5"
        with:
          if-no-files-found: "error"
          name: "build-output"
          path: "lib/"
  deploy:
    needs:
      - "check"
    environment:
      name: netlify
    if: "github.ref == 'refs/heads/main' && github.actor != 'dependabot[bot]'"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-node@v6"
        with:
          cache: "npm"
          node-version: "24"
      - run: "npm ci --omit dev"
      - uses: "actions/download-artifact@v7"
        with:
          name: "build-output"
          path: "lib/"
      - run: "npm install --global netlify-cli@latest"
      - run: "netlify --version"
      - run: "netlify deploy --no-build --prod true"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ vars.NETLIFY_SITE_ID }}
